.firstModule {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    color: white;
    font-size: 2rem;
    padding: 0 5rem;
    box-sizing: border-box;
    margin: 10vh 0 0 0;
}
.photo {
    flex: 1 1 33%;
    max-height: 80vh;
    width: auto;
    object-fit: scale-down;
    box-sizing: border-box;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
}
.email{
    flex: 1 1 33%;
    max-height: 60vh;
    box-sizing: border-box;
}
.title{
    font-size: 5rem;
    margin: 0 0 1rem 0;
}
.firstRight {
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 2rem;
}
.blockRedes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.red {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 1rem;
    cursor: pointer;
}
.red:hover {
    background-color: #e26600;
}
.red:active {
    background-color: #e2660080;
}
.logo{
    height: 15vh;
    width: auto;
}
h6 {
    font-size: 3rem;
    margin: 0;
}

.btnEnviar {
    align-self: flex-end;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: #e26600;
    border: 2px solid transparent;
    transition: border-color 0.5s;
    cursor: pointer;
}
.btnEnviar:hover {
    color: #1a1a1a;
    border-color: #1a1a1a;
}


input, textarea{
    height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
textarea {
    height: 10rem;

}

@media (max-width: 1366px) {
    .firstModule{
        font-size: 1.5rem;
        margin: 10vh 0;
    }
    .title {
        font-size: 4rem;
    }
    h6 {
        font-size: 2rem;
    }
}