.firstModule {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 78vh;
    color: white;
    font-size: 2rem;
    padding: 0 20rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.photo {
    flex: 1 1 33%;
    max-height: 100%;
    width: auto;
    object-fit: cover;
    box-sizing: border-box;
}
.title{
    font-size: 5rem;
    margin: 0 0 1rem 0;
}
.firstRight {
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}