
.container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    color: white;
}

.carouselInner {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
    filter: blur(0);
}

.carouselItem {
    width: 100%;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carouselItem img {
    height: 80vh;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.carouselControl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carouselControl:first-of-type {
    left: 10px;
}
.carouselControl:last-of-type {
    right: 10px;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 50%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    z-index: 10;
}
.titleCard, .buttonCard {
    margin: 1rem 0;
}
.titleCard {
    font-size: 3rem;
    margin: 0;
}
.contentCard {
    padding: 0 1rem;
}
.buttonCard {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: #1a1a1a;
    border: 2px solid transparent;
    transition: border-color 0.5s;
}
.buttonCard:hover {
    color: #e26600;
    border-color: #e26600;
}